body{
    background : url(../../picture/green.jpg) center/cover;
    background-size : auto;
    color : white;
}
#modal-base {
    background : rgba(0,0,255,0.7);
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:100;
    display:none;
}
#modal-content {
    padding: 0 5%;
    position:absolute;
    background-color: white;
    height: 80%;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:5px;
}

#button-container-1 {
    text-align : right;
    margin:10px 0;

}
#button-container-2{
    text-align: center;
    margin : 10px 0;
}

#close-button {
}

#outer-container{
    padding : 0 10%;
    text-align : center;
}

#inner-container{
    padding: 20px 0;
}

#create-button-container {
    padding-top : 5px;
}

th {
    text-align : center;
}

#table-container {
    border-radius : 2px;
}

.flex{
    display : flex;
}

.flex-left{
    flex-basis : 60%;
    text-align : right;
}
.flex-right{
    margin-left : 5px;
}